.vscode
bin/
test/
inventory
.idea/
# pkg/constants/app.version
tmp*
tmp*/
local-test/**/*.bin
local-test/**/*.json
integration/test-towers/london/*.bin
scripts/air-cmd.sh
release-notes.md
vhs/*.tape
.claude
